{% trans_default_domain 'sfs_payment' %}
{% extends '@SfsPayment/admin_layout.html.twig' %}
{% block title %}{{ 'admin_invoice.list.page_title'|trans }}{% endblock %}

{% form_theme filterForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Invoices</h1>

        {% if is_granted('ROLE_PAYMENT_ADMIN_INVOICE_CREATE') %}
            <a href="{{ url('sfs_payment_admin_invoices_create') }}" class="btn btn-primary">Create invoice</a>
        {% endif %}
    </div>

    {{ form_start(filterForm, {'attr': {'class': 'form-inline mb-3 mx-3'}} )}}
{#    {{ form_widget(filterForm) }}#}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_payment_admin_invoices_list'} %}
        {% trans_default_domain 'sfs_payment' %}
        {% block ths %}
            <th scope="col">{{ 'admin_invoice.list.fields.date.header'|trans }}</th>
            <th scope="col">{{ 'admin_invoice.list.fields.status.header'|trans }}</th>
            <th scope="col">{{ 'admin_invoice.list.fields.customer.header'|trans }}</th>
            <th scope="col">{{ 'admin_invoice.list.fields.amount.header'|trans }}</th>
            {% if read_route %}
                <th>&nbsp;</th>
            {% endif %}
        {% endblock ths %}

        {% block tbody %}
            {% include '@SfsPayment/admin/invoice/list-page.html.twig' %}
        {% endblock tbody %}

    {% endembed %}
{% endblock content %}