{% trans_default_domain 'sfs_payment' %}

{% for discount in entities %}
    <tr {% if read_route %}data-href="{{ url(read_route, {'discount':discount}) }}"{% endif %}>
        <td>{{ discount.name|default('') }}</td>
        <td>{{ discount.target ? ('discount.target.'~discount.target)|trans : '' }}</td>
        <td>{{ discount.due ? ('discount.due.'~discount.due)|trans : '' }}</td>

        <td>
            -{{ discount.value|number_format(2) }}
            {% if discount.type == constant('Softspring\\PaymentBundle\\Model\\DiscountInterface::TYPE_FIXED_AMOUNT') %}
                <small>{{ discount.currency }}</small>
            {% else %}
                %
            {% endif %}
        </td>

        <td>
            {{ discount.activeRules.count }}
        </td>
        {% if read_route %}
            <td align="right" class="actions">
                <a href="{{ url(read_route, {'discount':discount}) }}" class="text-nowrap">
                    {{ 'admin_discount.list.actions.details.button'|trans }} <span class="mdi mdi-18px mdi-eye-outline align-middle"></span>
                </a>
            </td>
        {% endif %}
    </tr>
{% endfor %}