{% trans_default_domain 'sfs_payment' %}
{% extends '@SfsPayment/admin_layout.html.twig' %}
{% block title %}{{ 'admin_discount.list.page_title'|trans }}{% endblock %}

{% form_theme filterForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ 'admin_discount.breadcrumb'|trans }}</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Discounts</h1>

        {% if is_granted('ROLE_PAYMENT_ADMIN_DISCOUNT_CREATE') %}
            <a href="{{ url('sfs_payment_admin_discounts_create') }}" class="btn btn-primary">Create discount</a>
        {% endif %}
    </div>

    {{ form_start(filterForm, {'attr': {'class': 'form-inline mb-3 mx-3'}} )}}
{#    {{ form_widget(filterForm) }}#}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'classes' : 'row-link table-striped table-hover border-bottom-0', 'pagination_route': 'sfs_payment_admin_discounts_list'} %}
        {% trans_default_domain 'sfs_payment' %}
        {% block ths %}
            <th scope="col">{{ 'admin_discount.list.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_discount.list.fields.target.header'|trans }}</th>
            <th scope="col">{{ 'admin_discount.list.fields.due.header'|trans }}</th>
            <th scope="col">{{ 'admin_discount.list.fields.value.header'|trans }}</th>
            <th scope="col">{{ 'admin_discount.list.fields.activeRules.header'|trans }}</th>
            {% if read_route %}
                <th>&nbsp;</th>
            {% endif %}
        {% endblock ths %}

        {% block tbody %}
            {% include '@SfsPayment/admin/discount/list-page.html.twig' %}
        {% endblock tbody %}

    {% endembed %}
{% endblock content %}