{% trans_default_domain 'sfs_payment' %}
{% extends '@SfsPayment/admin_layout.html.twig' %}
{% block title %}{{ 'admin_payment.list.page_title'|trans }}{% endblock %}

{% form_theme filterForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">Payments</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Payments</h1>
    </div>

    {{ form_start(filterForm, {'attr': {'class': 'form-inline mb-3 mx-3'}} )}}
{#    {{ form_widget(filterForm) }}#}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_payment_admin_payments_list'} %}
        {% trans_default_domain 'sfs_payment' %}
        {% block ths %}
            <th scope="col">{{ 'admin_payment.list.fields.date.header'|trans }}</th>
            <th scope="col">{{ 'admin_payment.list.fields.status.header'|trans }}</th>
            <th scope="col">{{ 'admin_payment.list.fields.customer.header'|trans }}</th>
            <th scope="col">{{ 'admin_payment.list.fields.concept.header'|trans }}</th>
            <th scope="col">{{ 'admin_payment.list.fields.amount.header'|trans }}</th>
            {% if read_route %}
                <th>&nbsp;</th>
            {% endif %}
        {% endblock ths %}

        {% block tbody %}
            {% include '@SfsPayment/admin/payment/list-page.html.twig' %}
        {% endblock tbody %}

    {% endembed %}
{% endblock content %}