{% trans_default_domain 'sfs_payment' %}

{% for payment in entities %}
    <tr>
        <td>{{ payment.date ? payment.date|date('d-m-Y') : '' }}</td>
        <td class="{{ {35:'text-muted', 15:'text-success', 21:'text-warning'}[payment.status] | default('') }}">
            {{ payment.statusString }}
        </td>
        <td>{{ payment.customer.name|default('') }}</td>
        <td>{{ payment.concept }}</td>

        <td>{{ payment.amount|number_format(2) }} <small>{{ payment.currency }}</small></td>

        {% if read_route %}
            <td><a href="{{ url(read_route, {'payment':payment}) }}" class="text-nowrap">{{ 'admin_payment.list.actions.details.button'|trans }}   <span class="mdi mdi-18px mdi-eye-outline align-middle"></span></a></td>
        {% endif %}
    </tr>
{% endfor %}