{% trans_default_domain 'sfs_payment' %}
{% extends '@SfsPayment/admin_layout.html.twig' %}
{% block title %}{{ 'admin_payments.read.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Payment</h1>
    </div>

    <ul>
        <li><strong>Platform:</strong> {{ payment.platform }}</li>
        <li><strong>Platform ID:</strong> {{ payment.platformId }}</li>
        <li><strong>Customer:</strong> {{ payment.customer.name }}</li>
        <li><strong>Source:</strong> {{ payment.source.platformId }}</li>
        <li><strong>Status:</strong> {{ payment.statusString }}</li>
        <li><strong>Date:</strong> {{ payment.date|date('H:i:s d-m-Y') }}</li>
        <li><strong>Concept:</strong> {{ payment.concept }}</li>
    </ul>
{% endblock content %}