{% trans_default_domain 'sfs_payment' %}
{% extends '@SfsPayment/admin_layout.html.twig' %}
{% block title %}{{ 'admin_payment.read.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Payment</h1>

        {% if is_granted('ROLE_PAYMENT_ADMIN_PAYMENT_REFUND') %}
            <a href="{{ url('sfs_payment_admin_payments_refund', {'payment': payment}) }}" class="btn btn-secondary">Refund payment</a>
        {% endif %}
    </div>

    <ul>
        <li><strong>Customer:</strong> {{ payment.customer.name }}</li>
        <li><strong>Status:</strong> {{ payment.statusString }}</li>
        <li><strong>Date:</strong> {{ payment.date|date('H:i:s d-m-Y') }}</li>
        <li><strong>Concept:</strong> {{ payment.concept }}</li>

        {% if payment.source %}
            <li><strong>Source:</strong> {{ payment.source.alias|default('') }} - {{ payment.source.platformData.brand|default('') }} {{ payment.source.platformData.last4|default(false) ? '****************'~payment.source.platformData.last4 : '' }}</li>
        {% endif %}
    </ul>
{% endblock content %}